.profile-pic-container {
    position: relative;
    width: 250px;
    height: 150px;
    /* border-radius: 100%; */
    overflow: hidden;
    cursor: pointer;
    border: 2px solid orange; /* Orange border */
  }
  
  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-pic-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .plus-icon {
    font-size: 24px;
    color: #aaa;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    color: white;
    display: block; /* Show by default */
  }
  
  .edit-icon {
    font-size: 18px;
  }