.nav-link {
  color: #333;
  border-radius: 6px;
}

.nav-link:hover {
  background-color: #f5f5f5;
}

.nav-link.active {
  background-color: #ffe0b2;
  color: #000;
  font-weight: 600;
}

#sidebarMenu {
  width: 240px;
}

@media (max-width: 992px) {
  #sidebarMenu {
    position: static;
    width: 100%;
  }
}
.app-content {
  margin-top: 100px;      /* header height */
  margin-left: 270px;    /* sidebar width */
      background-color: #f2f2f2f2;

}

@media (max-width: 992px) {
  .app-content {
    margin-left: 0;
  }
}
